bitsandbytes
fsspec
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/accelerate.git
sentencepiece
--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
torchtext
torchdata